.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: -15px;
}
